<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tracker</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
</head>

<body>
    <div class="nav">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-4 ">
                    <a href="/home">Calorie Tracker</a>
                </div>
                <div class="col-4 ">
                    <a href="/bmr">BMR</a>
                </div>
                <div class="col-4 ">
                    <a href="/tdee">TDEE</a>
                </div>
            </div>
        </div>

    </div>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>