*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    background-color: rgb(14, 211, 211);
    
}
.nav a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    color: red;
    border: 2px solid black;
    border-radius: 5px;
}